<html>
<style TYPE="text/css"> 
<!--
body
{
background: url('{{artist.background}}') no-repeat center center fixed;
-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

} 
#wrap { 
  width: 900px; 
  margin: 0 auto; 
}


#title{
	position: relative;
}

-->
</style>
<head>
	<meta name="description" content="Best music videos for {{album.album_name}}">
<meta name="keywords" content="{{artist.artist_name}},{{album.album_name}},music videos,youtube, music tube,
{%for i in tracks%}
	{{i.track_name}},
{%endfor%}
">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24611951-5']);
  _gaq.push(['_setDomainName', 'yourlastube.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="wrap">
<h1><a href="/artist?mbid={{artist.artist_mbid}}"> <img src="{{artist.logo}}" alt="{{artist.artist_name}}"></h1><br>
<h2><a href="playlist?tipo=album&mbid={{album.album_mbid}}"><img src="http://chart.apis.google.com/chart?chst=d_text_outline&chld=000000|32|h|FFFFFF|_|{{album.album_name}} Playlist" alt="{{album.album_name}} Playlist"></a></h2><br>

<TABLE>

	{%set a=0%}
		<tr>
{%for track in tracks%}
	<div id="track">
		{%set a=a+1%}
	<div id="title">
	<td>
	<a href="track?mbid={{track.track_mbid}}">{{track.track_name}}</a></div>
	{%if track.track_video!=" "%}
		

		<a href="http://www.youtube.com/watch?v={{track.track_video}}" rel="prettyPhoto[gallery1]" title="{{track.track_name}}" ><img src="http://img.youtube.com/vi/{{track.track_video}}/0.jpg" width=200> </a>
	</td>
  	{%endif%}

  	{%if a%4==0 %}
			</tr><tr>
	{%endif%}
  </div>
{%endfor%}
</TABLE>
</div>
 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <!-- prettyPhoto -->
    <script type="text/javascript" src="js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
    <link rel="stylesheet" href="js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" />
    <!-- ENDS prettyPhoto -->

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>
<body>