<style TYPE="text/css"> 
<!--
#top {
	position: absolute;
	top: 0;
	width: 900px
}

#content{
	position: absolute;
	top: 200px;
	
	width: 900px;
}
#names{
	float: left;
	left: 10px;
	width: 200px;

}
#images {
	position: absolute;
   
   top: 0px;
   left: 200px;
}



-->
</style>


<head>
	<script type="text/javascript">
		function ChangeImage(ImageID, newImageFile){
			var image= document.getElementById(ImageID)
			image.src=newImageFile
		}

	</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24611951-5']);
  _gaq.push(['_setDomainName', 'yourlastube.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<div id="top">
<h1>Our Artist database</h1><form method="post"><input type="text" name="artist"><input type=submit></form><br>

<br>
<div id="menu">
{%for i in menu%}
	<a href="artists?letter={{i}}&page=1">{{i}}</a>

{%endfor%}

</div>
</div>

<div id="content">
<div id="names">
{%set a = 0 %}
{%for i in artist%}
	{%set test= images[a][1] %}
	<b><a href="artist?mbid={{i.artist_mbid}}" >{{i.artist_name}}</a></b><br><br>
	{%set a = a+1 %}
{%endfor%}
</div>
<div id="images">
{%set a = 0 %}
{%for i in images%}
	
	{%if i[1] != None %}
		<a href="artist?mbid={{i[0]}}"><img src="{{i[1]}}" id="{{a}}"  /></a>
	{%endif%}
	{%set a = a+1 %}
{%endfor%}
<br><br>
{%if next_page > 2 %}
	<a href="/artists?letter={{letter}}&page={{next_page - 2}}">Previus Page</a>
{%endif%}
{%if next_page > 0 %}
	<a href="/artists?letter={{letter}}&page={{next_page}}">Next Page</a>
{%endif%}

</div>

</div>

