<style TYPE="text/css"> 
<!--
body{
  background-color: #000000
}

#centered{ width: 425px; margin: 2em auto 0 auto; text-align: left; }
#wrap { 
  width: 900px; 
  margin: 0 auto; 
}



#title{
  position: relative;
}

-->
</style>
<html>
<head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24611951-5']);
  _gaq.push(['_setDomainName', 'yourlastube.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<link type="text/css" rel="stylesheet" media="screen, projection" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/black-tie/jquery-ui.css" />
<link type="text/css" rel="stylesheet" media="screen, projection" href="js/css/youtube-player.css" />



<meta name="description" content="Best music Videos">
<meta name="keywords" content="music videos,youtube music, music tube, music video downloads,youtube free music videos,free youtube music videos,free music videos on youtube,free music videos at youtube,children s music videos youtube,utube music videos">
</head>


<body>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- jYoutube playlist -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript" src="js/jquery.youtube.player.js"></script>

  <!-- END jYoutube playlist -->


<div id="wrap">

  <h1><img src="http://chart.apis.google.com/chart?chst=d_text_outline&chld=000000|38|h|FFFFFF|_|Your last tube" alt="Your last tube"></h1><form method="post"><input type="text" name="artist"><input type=submit value="search artist"></form><br>

  <a href="artists?letter=A&page=1">list artists</a> &nbsp <a href="echonest">Echonest Playlists</a>&nbsp
  <br>
  <br>




    <div class="youtube-player">
      <div class="youtube-player-video">
        <div class="youtube-player-object">
          You need Flash player 8+ and JavaScript enabled to view this video.
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  //<![CDATA[
    (function($){

      var config =  {
        repeatPlaylist: 1,
        chromeless: 0,
        autoStart: 1,
        autoPlay: 1,
        highDef: 1,
       

        playlist: {
          title: 'Random videos',
          videos: [
            {%for track in tracks["data"]%}
            {%if track.video!=" "%}
            { id: '{{track["playlist_videos"]}}', title: '{{track["video_track"]}} - {{track["video_artist"]}}' },
            {%endif%}
            {%endfor%}
          ]
        }
      };

      $('.youtube-player').player(config)

    })(this.jQuery);
  //]]>
  </script>




</div>

  <div id="float">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-9218229247285850";
    /* musica */
    google_ad_slot = "6610465088";
    google_ad_width = 120;
    google_ad_height = 240;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>


        
 
</body>
</html>
