

<style TYPE="text/css"> 
<!--
body{
background: no-repeat center center fixed;
background-size: 100%;

}

#radio{
  position: absolute;
  left:60%;
}
#playlist{
  position: absolute;
  right:60%;
}
#albums{
  position: absolute;
  width: 99%;
  bottom: 180px;
}

#footer {
    position:absolute;
    bottom:0px;
    width: 99%;
    margin: 0;    
   
}



-->
</style>

<head>

    <script type="text/javascript" src="js/test.js"></script>
</head>

<body id="body">

    <p id="loadingBackground"> Cargando el fondo<p>
    <p id="loadingLogo"> Cargando el Logo<p>

    <script type="text/javascript">getArtistImage("{{artist}}")</script>


    
    <h1><center><img id="logo" src="" alt="{{artist.artist_name}}"width=300><center></h1><br>
    <script type="text/javascript">getBandLogo("{{artist}}")</script>

   
     
        <a id="playlist" href="playlist?tipo=artist&mbid={{artist.artist_mbid}}"><img src="http://chart.apis.google.com/chart?chst=d_text_outline&chld=000000|38|h|FFFFFF|_|Play my Playlist" alt="{{artist.artist_name}} Playlist"></a> 
        <a id="radio" href="playlist?tipo=echonest&modo=radio&mbid={{artist.artist_mbid}}"><img src="http://chart.apis.google.com/chart?chst=d_text_outline&chld=000000|38|h|FFFFFF|_|Play my Radio" alt="{{artist.artist_name}} Radio"></a>
      
   
    <div id="albums">
      <center>
      <table id="album">
      </table>
      </center>
    </div>
    <script type="text/javascript">getAlbums("{{artist}}")</script>


    
    <div id="footer" >
      <center>
        <table aling=center id="similartable">
        
          <tr id="similar">
            
            
           </tr>
        </table>
        <script type="text/javascript">getSimilar("{{artist}}")</script>

        <br>
        
        <a href="http://the.echonest.com/"><img src="http://the.echonest.com/static/img/logos/EN_P_on_White_Horizontal.gif"></a><br>
        Please contribute increasing <a href="http://fanart.tv">Fanart.tv</a> image database
      </center>
    </div>

 



</body>