<html>
<style TYPE="text/css"> 
<!--
body{
background: no-repeat center center fixed;
background-size: 100%;

}
#wrap { 
  width: 900px; 
  margin: 0 auto; 
}


#title{
	position: relative;
}

-->
</style>
<head>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <!-- prettyPhoto -->
 <script type="text/javascript" src="js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
 <link rel="stylesheet" href="js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" />
 <!-- ENDS prettyPhoto -->
<script type="text/javascript" src="js/test.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24611951-5']);
  _gaq.push(['_setDomainName', 'yourlastube.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body id="body">
  <div id="wrap">



    <script type="text/javascript">getAlbumTracks("{{album}}")</script>

    <TABLE id="tracks">

   </TABLE>

 </div>


 

 <script type="text/javascript" charset="utf-8">
 function pretty(){
  $("a[rel^='prettyPhoto']").prettyPhoto();
});
 </script>
 <body>