<html>
<style TYPE="text/css"> 
<!--
body{
background: no-repeat center center fixed;
background-size: 100%;

}
#wrap { 
  width: 900px; 
  margin: 0 auto; 
}


#title{
	position: relative;
}

table {
  border-collapse: collapse;
  background-color: black;
  width: 425px;
}
table td, table th {
  border: 1px solid white;
}
table tr:first-child th {
  border-top: 0;
}



button {
    background:none!important;
    border:none; 
    padding:0!important;
    color:#FFFFFF;
}
-->
</style>
<head>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <!-- prettyPhoto -->
 <script type="text/javascript" src="js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
 <link rel="stylesheet" href="js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" />
 <!-- ENDS prettyPhoto -->
 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <script type="text/javascript" src="js/test.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24611951-5']);
  _gaq.push(['_setDomainName', 'yourlastube.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body id="body">
  <div id="wrap">


    <h1><center><img id="logo" src="" width=300><center></h1><br>

   

     <div id="ytapiplayer">
      You need Flash player 8+ and JavaScript enabled to view this video.
    </div>

    <script type="text/javascript">

    var params = { allowScriptAccess: "always" , bgcolor:"#cccccc", allowfullscreen:"true"};
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/v/4SLBizx05Bo?enablejsapi=1&playerapiid=ytplayer", 
     "ytapiplayer", "425", "356", "8", null, null, params, atts);

    
    </script>

    <TABLE id="songs">

   </TABLE>

    <script type="text/javascript">getAlbumTracks("{{album}}")</script>

 </div>


 

 </body>